# Gitignore for Lorengine

# Ignore macOS files

# Ignore linux files

# Ignore misc cmake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ignore all object files
*.o

# Ignore all library files
*.a

# Ignore Lorengine executable
Lorengine

# Ignore outputs in the destination directory
destination/